@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem; */
    --grid--main-margin: 40px;
    --grid--main-columns: var(--grid--main-columns-12);
    --grid--main-columns-12: repeat(12, [col-start] 1fr);
    --grid--main-columns-6: repeat(6, [col-start] 1fr);
    --grid--main-columns-4: repeat(4, [col-start] 1fr);
    --grid--main-columns-3: repeat(3, [col-start] 1fr);
    --grid--main-columns-2: repeat(2, [col-start] 1fr);
    --grid--main-columns-1: repeat(1, [col-start] 1fr);
    --grid--main-gutter: 20px;
    --grid--main-xheight: 120px;

    --font--size-monster: clamp(36px, 4.45vw, 4.45vw);
    --font--size-huge: clamp(22px, 3.45vw, 3.45vw);
    --font--size-large: clamp(20px, 1.81vw, 1.81vw);
    --font--size-medium: clamp(18px, 1vw, 1vw);
    --font--size-regular: 16px;
    --font--size-small: 14px;
    --font--size-xs: 12px;
    --font--size-xxs: 10px;

    --color-white: rgba(255 255 255 / 1);
    --color-black: rgba(0 0 0 / 1);
    --color-green: rgba(0 53 49 / 1);
    --color--background--100: rgba(0 53 49 / 1);

    /* --input: 0 0% 89.8%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%; */
  }

  /* .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
};

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-body text-grey leading-8;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-black;
  }
  .h2 {
    @apply text-[2rem];
  }
  .h3 {
    @apply text-2xl;
  }
  .h4 {
    @apply text-xl;
  }
}

.section {
    padding: 0 var(--grid--main-margin);
    display: grid;
    grid-template-columns: var(--grid--main-columns);
    gap: var(--grid--main-gutter);
}

.header {
  margin-top: 20px;
  background-color: rgba(0,0,0,0.06);
  border: 1px solid rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 50px rgba(0,0,0,0.5);
}

.feature {
  padding-top: 100px;
  background: rgba(12,162,150,1);
  background: linear-gradient(180deg, rgba(12,162,150,1) 50%, rgba(255,255,255,1) 85%);
}

.shore {
  height: 523px;
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(12,162,150,1) 85%);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @apply bg-white;
  }
.search-box {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 20px rgba(31 87 10 / 0.2), -5px -5px 20px rgba(255 249 222 / 0.2);
  border-top: 1px solid rgba(255 249 222 / 0.2);
  border-left: 1px solid rgba(255 249 222 / 0.2);
  border-right: 1px solid rgba(31 87 10 / 0.2);
  border-bottom: 1px solid rgba(31 87 10 / 0.2);
}

.navigation {
  display: block;
  padding: 12px;
  margin-right: -12px;
  border-radius: 24px;
  position: relative;
  z-index: 99;
}
.navigation:hover {
  cursor: pointer;
}
.navigation .icon {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navigation .line {
  position: absolute;
}
.navigation .line .content {
  width: 24px;
  height: 2px;
  background-color: var(--color-black);
}
.navigation .line:nth-child(1) {
  transform: rotate(0);
  transition: transform 0.1s ease-in;
}
.navigation .line:nth-child(2) {
  transform: rotate(0);
  transition: transform 0.1s ease-in;
}
.navigation .line:nth-child(1) .content {
  transform: translateY(-4px);
  transition: transform 0.1s ease-out 0.1s;
}
.navigation .line:nth-child(2) .content {
  transform: translateY(4px);
  transition: transform 0.1s ease-out 0.1s;
}
.mobile-nav--is--visible.navigation .line:nth-child(1)  {
  transform: rotate(45deg);
  transition: transform 0.1s ease-out 0.1s;
}
.mobile-nav--is--visible.navigation .line:nth-child(2)  {
  transform: rotate(-45deg);
  transition: transform 0.1s ease-out 0.1s;
}
.mobile-nav--is--visible.navigation .line:nth-child(1) .content  {
  transform: translateY(0);
  transition: transform 0.1s ease-in;
}
.mobile-nav--is--visible.navigation .line:nth-child(2) .content  {
  transform: translateY(0);
  transition: transform 0.1s ease-in;
}
.main-nav {
  margin-left: auto
}
.main-nav ul {
  padding: 0;
  margin: 0
}
.main-nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0 20px
}
.main-nav ul li:last-of-type {
  padding-right: 0
}

.decoration {
  display: inline-block;
  position: relative;
}
.decoration:after {
  background: currentColor;
  bottom: -4px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform .8s cubic-bezier(.49,.23,0,1);
  width: 100%
}
.decoration:hover:after {
  transform: scaleX(1);
  transform-origin: 0 0
}
.decoration.active:after {
  transform: scaleX(1);
  transform-origin: 0 0;
}

.waves {
  z-index: 4;
  --footer-background: rgba(255 255 255 / 1);
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 8rem;
}

.bubbles {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0rem;
  background: var(--footer-background);
  filter: url("#blob");
}

.bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation:
    bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 0%);
  mix-blend-mode: screen;
}

.image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@keyframes bubble-size {
  0%,
  75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
  }
  100% {
      width: 0rem;
      height: 0rem;
  }
}

@keyframes bubble-move {
  0% {
    top: -14rem; /* Start above the visible area */
  }
  100% {
    top: var(--distance, 10rem); /* Move to the bottom of the screen */
  }
}